services:
  - type: web
    name: cads-final-web
    env: node
    plan: free
    buildCommand: >
      npm ci --prefix backend &&
      npm ci --prefix frontend &&
      npx -y prisma generate --schema=backend/prisma/schema.prisma &&
      npm run build --prefix backend &&
      npm run build --prefix frontend
    startCommand: npm start --prefix backend
    envVars:
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
    directories:
      source: backend

  - type: static
    name: cads-final-frontend
    buildCommand: >
      npm ci &&
      npm run build
    staticPublishPath: dist
    directories:
      source: frontend
    envVars:
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
