services:
  - type: web
    name: cads-final-web
    env: node
    plan: free
    buildCommand: >
      NPM_CONFIG_PRODUCTION=false npm ci --prefix backend &&
      NPM_CONFIG_PRODUCTION=false npm ci --prefix frontend &&
      node ./backend/node_modules/prisma/build/index.js generate --schema=./backend/prisma/schema.prisma &&
      npm run build --prefix backend &&
      npm run build --prefix frontend
    startCommand: npm start --prefix backend
    envVars:
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
    directories:
      source: backend
    routes:
      - path: /api
        destination: http://localhost:3000/api

  - type: web
    name: cads-final-frontend
    env: node
    plan: free
    buildCommand: >
      NPM_CONFIG_PRODUCTION=false npm ci &&
      npm run build
    startCommand: npm run preview
    staticPublishPath: dist
    directories:
      source: frontend
    envVars:
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
