.topbar {
  background: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-actions {
  display: flex;
  gap: 1rem;
}

.topbar input {
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.primary-btn {
  background: #ff8c32;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.stat-card {
  background: white;
  padding: 1.2rem;
  border-radius: 10px;
}
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
}
.chart-container{
  width:100%;
  height: 300px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr; /* Graphique plus large que la liste */
  gap: 20px;
  margin-top: 25px;
}

.chart-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.recent-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0;
}

.recent-item .name { font-weight: 600; margin: 0; }
.recent-item .email { font-size: 0.85rem; color: #718096; margin: 0; }

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.status-dot.active { background-color: #4ade80; }
.status-dot.inactive { background-color: #f87171; }

.view-all {
  font-size: 0.85rem;
  color: #3182ce;
  text-decoration: none;
}